<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coupon </title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-dark">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800"></h1>
                                <p class="mb-4"></p>

                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-dark   ">Categories</h6>
                                        <h4><a href="/admin"></a><i class="fa fa-home"></i></h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Coupon Code</th>
                                                        <th>Discount</th>
                                                        <th>Minimum Amount</th>
                                                        <th>Maximum Discount Amount</th>
                                                        <th>Expiry Date</th>

                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Coupon Code</th>
                                                        <th>Discount</th>
                                                        <th>Minimum Amount</th>
                                                        <th>Maximum Discount Amount</th>
                                                        <th>Expiry Date</th>    
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <%var i=1%>
                                                        <%data.forEach(function(coupon){ %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= i%>
                                                                </th>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%= coupon.code%>
                                                                </td>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%= coupon.discount%>
                                                                </td>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%= coupon.minimumAmount%>
                                                                </td>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%= coupon. maximumDiscountAmount%>
                                                                </td>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%= coupon.expireAt%>
                                                                </td>
                                                            </tr>
                                                            <%= i++%>
                                                                <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Add Coupon !!</h1>

                                        <form class="user" id="form" name="form1" action="/admin/postCoupon"
                                            method="post">
                                            <div class="form-group ">
                                                <input type="text" name="couponCode" required="true"
                                                    class="form-control form-control-user" id="exampleInputEmail"
                                                    placeholder="Coupon Code">
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="date" name="expiryDate" style="padding: .5rem;"
                                                        required="true" class="form-control form-control-user"
                                                        id="inputDate" placeholder="Expiry date">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" name="discount" style="padding: 1rem;"
                                                        required="true" class="form-control form-control-user"
                                                        id="exampleInputEmail" placeholder="Discount">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="number" name="maxAmount" style="padding: 1rem;"
                                                        required="true" class="form-control form-control-user"
                                                        id="exampleInputEmail" placeholder="Max Amount">
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="number" name="minAmount" style="padding: 1rem;"
                                                        required="true" class="form-control form-control-user"
                                                        id="exampleInputEmail" placeholder="Min Amount">
                                                </div>
                                            </div>
                                            <div id="result"></div>
                                            <input type="submit" class="btn btn-primary btn-user btn-block"
                                                value="Add Coupon">
                                            <hr>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->


        <script>
            const form = document.getElementById("form");
            const inputDate = document.getElementById("inputDate");
            const result = document.getElementById("result");

            form.addEventListener("submit", function (event) {
                const inputDateValue = new Date(inputDate.value);
                const today = new Date();

                const resultValue = today.getTime() - inputDateValue.getTime();

                if (resultValue > 0) {
                    result.textContent = "Today's date is later than the input date.";
                    event.preventDefault();
                    return false;
                } else if (resultValue < 0) {
                    result.textContent = "Input date is later than today. Submitting form...";
                    return true;
                } else {
                    result.textContent = "Today's date is the same as the input date.";
                    event.preventDefault();
                    return false;
                }
            });
        </script>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>