<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit user</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/custom.css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-dark">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit Your Account!</h1>
                            </div>
                            <form class="user" name="form1" id="form1" action="/editMe?_method=PUT" method="post">
                                <input type="hidden" name="_method" value="PUT" >
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="fname" required="true"
                                            class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" value="<%=user.fname%>" pattern=".*[a-zA-Z].*" required oninvalid="this.setCustomValidity('Please enter a value with at least one letter')">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="lname" required="true"
                                            class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name" value="<%=user.lname%>" pattern=".*[a-zA-Z].*" required oninvalid="this.setCustomValidity('Please enter a value with at least one letter')">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    
                                    <div class="col-sm-6">
                                        <input type="number" name="phone" required="true"
                                            class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Phone Number" value="<%=user.phone%>" pattern="^[0]?[6789]\d{9}$" required oninvalid="this.setCustomValidity('Please enter a valid 10-digit Indian phone number')" onchange="this.setCustomValidity('')">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="hidden" name="email" required="true"
                                            class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Email" value="<%=user.email%>" >
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select name="state" class="  form-control-user" id="subject">
                                            <option selected="selected" ><%=user.state%></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select name="cities" class=" form-control-user" id="topic">
                                            <option selected="selected"><%=user.cities%></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select name="flats" aria-valuetext="hiii" class=" form-control-user" id="chapter">
                                        <option class=" form-control form-control-user" selected="selected"><%=user.flats%></option>
                                    </select>
                                </div> --> 
                                <input type="submit" value="Edit" style="font-weight: bold;" class="btn btn-primary btn-user btn-block">
                                <!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a> -->
                                <hr>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/location.js"></script>
</body>

</html>